.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-family: Arial, sans-serif;
    padding-bottom: 20px;
}

.pagination-button {
    background-color: #0073e6; /* Blåfarge */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.pagination-button:disabled {
    background-color: #ccc; /* Grått når deaktivert */
    cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
    background-color: #005bb5; 
}

.pagination-info {
    margin: 0 1rem;
    font-size: 1rem;
    color: #333;
}
